# Visual Studio cache/settings
.vs/
*.user
*.suo

# Build outputs
bin/
obj/
Debug/
Release/

# OS noise
Thumbs.db
Desktop.ini

# Other temporary files
*.log

# Node / JS
node_modules/
dist/
.build/
.vite/
*.log
.DS_Store
Thumbs.db
